---
BasedOnStyle: Google
PointerAlignment: Left
DerivePointerAlignment: false
---
Language: Cpp
ColumnLimit: 100
IncludeCategories:
  - Regex:           '".*"'
    Priority:        1
  - Regex:           '^<.*\.h>'
    Priority:        2
  - Regex:           '^<.*'
    Priority:        3
